FRONTEND_URL=
PORT=
MONGODB_CONNECTION_STRING=
REDIS_CONNECTION_STRING=
BREVO_SMTP_SERVER=
BREVO_SMTP_PORT=
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
BREVO_SENDER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
REDIS_AUTH_DOCUMENT_EXPIRES_IN=
